<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php" convertErrorsToExceptions="false" convertNoticesToExceptions="false" convertWarningstoExceptions="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>

</phpunit>
